* {
    -webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background: #81FFB1;
  color: #000;
}


h1 {
  text-align: center;
}

img {
  max-width:100%;
}

article {
  background: #94CCC9;
  margin:auto;
  padding: 40px;
  max-width: 700px;
}

.covers {
  margin:auto;
  padding-top: 20px;
  padding-left: 62.5px;
}

.songs {
  background: #FFC0D4;
  max-width: 340px;
  margin:auto;
}

.songTitle {
  text-align: center;
  padding-top: 5px;
}

#one, #two, #three, #four {
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

footer {
  text-align: center;
  padding-top: 10px;
}

@media (max-width: 450px) {
  article {
    margin-bottom: 10px;
  }

#one {
  padding-top: 10px;
}

#one, #two, #three, #four {
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.songs {
  max-width: 320px;
}
  img {
    margin: auto;
  }
}
